# dependencies
/node_modules
/.pnpm-store

# Next.js
/.next
/out

# production
/build

# local environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local uploaded files
/.data

# editor and operating system files
.DS_Store
Thumbs.db
.idea
.vscode

# TypeScript
*.tsbuildinfo

# Prisma local databases
prisma/*.db
prisma/*.db-journal

# test coverage
/coverage
